<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/terminal.css">
    <script src="/terminal.js" defer></script>
    <title>Cli</title>
</head>
<body>
    <h1>Welcome to the Terminal</h1>

   <div class="terminal-container">
        <div class="terminal-output"></div>
        <span id="head"></span>
        <input type="text" id="terminal-input">
        <div class="terminal-result"></div>
    </div>


    
</body>
</html>